.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container__image {
  display: flex;
  justify-content: center;
}
.container__image__border {
  border: 2px solid #8f44ae;
  padding: 1px;
  border-radius: 100px;
}
.container__card__text {
  text-align: justify;
}
.container__card__image {
}
.container__card {
  border: 6px solid #8f44ae;
}
.container__card__buttons {
  display: flex;
  justify-content: center;
  color: #8f44ae;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
